@model general_cheshm.Models.khata

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div id="content" style="position:relative;right:-3000px">
    <h4>مورد جدید</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="num_khata" class="control-label"></label>
                    <input asp-for="num_khata" class="form-control" />
                    <span asp-validation-for="num_khata" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="name_khata" class="control-label"></label>
                    <textarea cols="5" rows="5" asp-for="name_khata" class="form-control"></textarea>
                    <span asp-validation-for="name_khata" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="sms" class="control-label"></label>
                    <input type="checkbox" asp-for="sms" class="form-control" style="inline-size: max-content;" />
                    <span asp-validation-for="sms" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="ثبت مورد جدید" class="btn btn-outline-success rounded-pill" onclick="move_back()" />
                    <a onclick="move_back()" class="btn btn-outline-primary rounded-pill" asp-action="Index">بازگشت به لیست</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(() => {
            $("#content").animate({ right: "0" });
            $(window).scrollTop($("#back").offset().top);
        });
    </script>
    <script>
        function move_back() {
            $("#form").submit(function (e) {
                e.preventDefault();
            });
            if (span.show() != true) {
                $("#content").animate({ right: "-3000" });
                $("#form").submit();
            }
        }
    </script>
}
